<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <title>HyperNews List</title>
</head>
<body>
<h2>Hyper news</h2>
<form method="get">
    <input name="q">
    <button type="submit">Search</button>
</form>
{% for date, news_dict_date in news_dict.items %}
{% if news_dict_date %}
<h4>{{ date }}</h4>
<ul>
    {% for title, link in news_dict_date.items %}
    <li><a href="/news/{{ link }}/">{{ title }}</a></li>
    {% endfor %}
</ul>

{% endif %}
{% endfor %}

<a href="/news/create/" target="_blank">Create Page</a>

</body>
</html>